@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Example of how to override elements with tailwind styles.
  This will override the font-family of h1 elements to use the font-antiqua 
  and font-extrabold classes.

  @layer base is necessary to override the base styles of the h1 element.
*/
@layer base {
  html {
    @apply font-sans font-medium;
  }
  article * {
    @apply font-serif font-normal;
  }
}



body  {
	/* @apply sandy; */
	background-color: #f8f8f8; 
}

dark:body  {
	/* @apply sandy; */
	background-color: #444; 
}


.bk-sand {
    background-color:#f8f8f8 
}


.bk-sand2 {
    background-color:#edede3;
     background-image: 'images/landslov-ornament.png';
       
}

 
/* Code block design */
code.nx-border-black {
  font-family: Consolas,"courier new";
  padding: 2px;
  font-size: 105%;
}

/* Første linje: kun for å teste at css filen lastes */
h1.nx-mt-2.nx-text-slate-900 {
	 @apply text-red-600; 
}

.smallcard h1.nx-mt-2.nx-text-slate-900 {
	 /* color: #d34c4c; */
	 @apply text-3xl text-rose-800 dark:text-gray-300 ;
}

.smallcard p {
	@apply my-1 text-base text-gray-800;
}

/* 'map' css classer til standard markdown varianter */

blockquote {
	@apply nx-text-slate-900 text-2xl font-semibold text-gray-900 dark:text-white;
	@apply font-serif;
}

blockquote p {
	/* 'drop italic på sitater */
	font-style: normal; 
		
}

/* 'map' css sitat / author / copyright / kilde */
cite {
	@apply ps-3 text-sm text-gray-500 dark:text-gray-400;
	font-style: normal;
}

blockquote cite {
	@apply ps-3 text-sm text-gray-500 dark:text-gray-400;
	@apply font-sans;
	font-weight: 300;
}
 


